<div class="post" style="border-top:none">
	<div>
		<h3><%= link_to discussion.title, discussion %></h3>
		<ul class="cat">
			<li ><%= time_ago_in_words discussion.created_at %></li>
			<li ><%= link_to discussion.organization, discussion.organization %></li>			
			<li><a href="#"><%= discussion.address %></a></li>
			<li><a href="#"><%= discussion.comments.count %> Comments</a></li>
		</ul><!--cat-->
	</div>
</div>	 	