<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>Sent Messages</h2>
			<a href="#" class="view">view all</a>
		</div><!--title-->
<% if @messages.blank? %>
<%= will_paginate @messages %>
	<table cellpadding="0" width="100%">
		<% for message in @messages %>
		<tr style="border-bottom:1px solid #cacaca;">
  			<td><%= link_to image_tag((message.author.pic_square or '/images/img24.jpg'), :align => :left, :style=> 'margin:0.5em'), message.author %><%=link_to h(message.author.name), message.author %><br /><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
  			<td style="width:68%"><%= link_to truncate(h(message.subject), :length => 70), {:controller => :sent, :action => :show, :id => message}, :style => "color:#333;font-size:1.1em;" %><br />
			<%= link_to truncate(h(message.body), :length => 120), {:controller => :sent, :action => :show, :id => message}, :style => 'color:#666;font-size:1em;text-decoration:none'%>
			</td>
		</tr>
		<% end %>
	</table>
<%= will_paginate @messages %>
<% else %>
<p> No messages.</p>
<% end %>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<% content_for :sidebar do %>
<div class="box">
<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h3>Inbox</h3>
	</div>
	<div>
		<%= link_to 'Compose', :controller => :sent, :action => :new %><br />
		<%= link_to 'Received', :controller => :received, :action => :index %><br />
		<%= link_to 'Sent', :controller => :sent, :action => :index %>
	</div>	
</div>
<div class="b">&nbsp;</div>
</div>


<div class="box">
<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h3>Contests</h3>
	</div>
	<div class="promo-visual"><a href="/contest.html"><img width="151" alt="" src="http://www.pc.ibm.com/ca/nba/images/nba_cares_140x187.jpg"></a></div>
</div>
<div class="b">&nbsp;</div>
</div>

<% end %>	
