<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2><%=h(@message.subject) %></h2>

		</div><!--title-->
		<div style="margin-bottom:2em">
			<div style="width:15%;float:left;">
				<%= link_to image_tag((@message.author.pic_square or '/images/img24.jpg'), :align => :left, :style=> 'margin:0.5em'), @message.author %>
			</div>	
			<div style="float:left;width:84%">
				<h3 style="font-size:1.2em"><%= link_to @message.author.name, @message.author %></h3>
				<p><%= @message.created_at.to_s(:long) %> </p>
				<br />
				<%= simple_format h(@message.body)%>
			</div>	
			<br clear="all" />
		</div>	
		
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	<% content_for :sidebar do %>
	<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>Inbox</h3>
		</div>
		<div>
			<%= link_to 'Compose', :controller => :sent, :action => :new %><br />
			<%= link_to 'Received', :controller => :received, :action => :index %><br />
			<%= link_to 'Sent', :controller => :sent, :action => :index %>
		</div>	
	</div>
	<div class="b">&nbsp;</div>
	</div>


	<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>Contests</h3>
		</div>
		<div class="promo-visual"><a href="/contest.html"><img width="151" alt="" src="http://www.pc.ibm.com/ca/nba/images/nba_cares_140x187.jpg"></a></div>
	</div>
	<div class="b">&nbsp;</div>
	</div>

	<% end %>	
