<div class="activity-info">
	<% case activity.action 
		
		when 'other action' %>
	
	<% when 'organization_vote'%>
		<%= activity.user.name %> voted for <strong> <%= activity.subject.name %> </strong>
	<% when 'contest-update'%>
		<%= activity.user.name %> updated "<%= activity.info %>"
	<% when 'participate-contest' %>
	<%= activity.user.name %> joined the contest.
	<% end %>
</div>	