<div class="activity-info">
<div class="cart-info" style="background:none;border:none;">
<ul class="effected">
  <% case activity.action
    when 'other action' %>
  <% when 'organization_vote'%>
    <li style="padding:5px 0"><%= link_to image_tag((activity.user.pic_square or '/images/img24.jpg')), activity.user %>&nbsp;&nbsp;<%= link_to activity.user.name, activity.user %> voted for <strong><%= link_to activity.subject.name, activity.subject %><strong></li>
  <% when 'contest-update'%>
    <li style="padding:5px 0"><%= link_to image_tag((activity.user.pic_square or '/images/img24.jpg')), activity.user %>&nbsp;&nbsp;<%= link_to activity.user.name, activity.user %> updated "<%= activity.info %>"</li>
  <% when 'participate-contest' %>
    <li style="padding:5px 0"><%= link_to image_tag((activity.user.pic_square or '/images/img24.jpg')), activity.user %>&nbsp;&nbsp;<%= link_to activity.user.name, activity.user %>  joined the contest.</li>
  <% end %>
</ul>
</div>
</div>