<div class="main-block" style="width:450px;margin-left:200px">
  <div class="t">&nbsp;</div>
  <div class="c" style="width:410px">
    <div class="holder">
      <h2>Invite for <%= @contest_invite.invitable.name %></h2> 	
	  <h3> Facebook Invite </h3>
		<p> 
		Post an invite to facebook with following description.	
		</p>	
		<p style="font-style:oblique">
			<%= @contest_invite.contest.facebook_message.sub('[name]', @contest_invite.invitable.name) %>
		</p>	

    </div>
    <div class="btn-holder">
      <ul>
		<li><a href="http://www.facebook.com/sharer.php?u=<%= URI.escape(vote_organization_on_contest_url( :id => @contest_invite.contest_id, :code => @contest_invite.code)) -%>&t=<%= URI.escape(@contest_invite.contest.facebook_message.sub('[name]', @contest_invite.invitable.name))-%>"> Invite</a>  </li>

      </ul>
    </div>
	<hr />
	<div class="holder">
	  <h3> Twitter Invite </h3>
		<p> 
		Post an invite to Twitter with following description.	
		</p>	
		<p style="font-style:oblique">
			<%= @contest_invite.contest.facebook_message.sub('[name]', @contest_invite.invitable.name) %>
		</p>	

    </div>
    <div class="btn-holder">
      <ul>
		<li><a href="http://www.facebook.com/sharer.php?u=<%= URI.escape(vote_organization_on_contest_url( :id => @contest_invite.contest_id, :code => @contest_invite.code)) -%>&t=<%= URI.escape(@contest_invite.contest.facebook_message.sub('[name]', @contest_invite.invitable.name))-%>"> Invite</a>  </li>
      </ul>
    </div>
	<hr />
	<div class="holder">
		  <h3> Email Invite </h3>
			<p> 
			Invite your friends through email. With the following content.
			</p>	
	</div>		
			<% form_tag '/contacts/import/', :method => :post, :id => 'email-invite' do %>
					<a href="#" onclick="showPlaxoABChooser('recipient_list', '/contacts/plaxo_cb'); return false"><img style="width:104px;height:31px" src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" /></a><br />
					<textarea id="recipient_list" name="recipients"></textarea>Use the above button to choose your contacts or enter comma separated email addresses.<br />
					<%= hidden_field_tag :id, params[:id] %>
					<div class="btn-holder">
				      <ul>
						<li><a onclick="$('email-invite').submit()"> Invite</a>  </li>
				      </ul>
				    </div>
				    
			<% end %>
		<hr />
		<div class="btn-holder">
			<p>
				Return to application
			</p>	
			<ul>
        		<li><%= link_to 'Cancel', '#', :class=> 'lbAction', :rel => 'deactivate'%></li>				
			</ul>	
		</div>	
  </div>
  <div class="b">&nbsp;</div>
</div>
