<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>Edit Profile</h2>
		</div><!--title-->
		<% form_for(@user, :html => {:multipart => true}) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.label :first_name %><br />
		    <%= f.text_field :first_name %>
		  </p>
		  <p>
		    <%= f.label :last_name %><br />
		    <%= f.text_field :last_name %>
		  </p>
		  <p>
			<%= f.label :image, "Photo" %>
			<%= f.file_field :image %>
		  </p>
		  <%= render :partial => 'skill_select', :locals => {:checked => @user.skills.collect{|skill| skill.name }}%>
		  <%= render :partial => 'cause_select', :locals => {:checked => @user.causes.collect{|cause| cause.name }}%>
		  <p>
		    <%= f.label :address %><br />
		    <%= f.text_field :address %>
		  </p>
		  <p>
		    <%= f.submit 'Update' %>
		  </p>
		<% end %>
		

	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->