<h3 class='supertitle'><a href='/+projects/'>Projects</a></h3>
<h1><%= @title %></h1>
<div id='content'>
<div id='left'> 

<div class='module'> 
    <div class='head'> 
        <h3></h3> 
    </div> 
    <div class='body'>
<% @title = 'Profile'%>

<% form_for(@user, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
	<%= f.label :image, "Photo" %>
	<%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :skills %><br />
    <%= f.text_field :skill_list %>
  </p>
  <p>
    <%= f.label :causes %><br />
    <%= f.text_field :cause_list %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
    </div>
</div><!-- /.module #requests -->