<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2 class="blue-title"><%= @title %></h2>
		<%= link_to 'leader board', {:action => :leaders}, :class => "view" %> 
		<%= link_to 'view all', {:action => :index}, :class => "view" %>
		
	</div><!--title-->
		<%= will_paginate(@users)%>
		<div class="sort-holder">
			<ul class="results">
				<%= render :partial => 'user', :collection => @users %>
			</ul>
		</div>
		<%= will_paginate(@users)%>
		<div class="b">&nbsp;</div>
</div>

<% content_for :sidebar do %>
<div class="box">
<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h3>Contests</h3>
	</div>
	<div class="promo-visual"><a href="/contest.html"><img width="251" alt="" src="http://2.bp.blogspot.com/_mhHzlHCfJ2M/TCILtAh9uXI/AAAAAAAABqU/0jmKpIox_U8/s1600/ups-logo.jpg"></a></div>
</div>
<div class="b">&nbsp;</div>
</div>

<!--
	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title">
				<h3>search</h3>								
			</div>
			<div class="search-form">
				<form action="">
					<fieldset>
						<div class="row">
							<label for="lb01">name</label><span class="text"><input type="text" id="lb01"/></span>
						</div>
						<div class="row">
							<label for="lb02">location</label><span class="text"><input type="text" id="lb02"/></span>
						</div>
						<div class="row">
							<label for="lb03">skills</label><span class="text"><input type="text" id="lb03"/></span>
						</div>
						<div class="row causes">
							<label for="lb04">causes of interest</label><span class="text"><input type="text" id="lb04"/></span>
						</div>
						<div class="row">
							<label for="lb05">points</label><span class="text"><input type="text" id="lb05"/></span>
						</div>
						<div class="row">
							<label for="lb06">age</label><span class="text"><input type="text" id="lb06"/></span>
						</div>
						<div class="row">
							<label for="lb07">sex</label><span class="text"><input type="text" id="lb07"/></span>
						</div>
						<div class="button-holder">
							<input type="submit" value="search"/>
						</div>
					</fieldset>
				</form>
			</div><!--search-form
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->
<% end %>
