<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">Volunteer</h2>
		</div><!--title-->
		<div class="cart-info">
			<div class="holder">
				<div class="visual"><img src="/images/img32.jpg" alt="" /></div>
				<div class="cart-text">
					<h3><%= @user.name %></h3>
					<div class="dc"><%= @user.address %></div>
					<div class="row"><strong class="even"><%= @user.badges.count %> badges</strong></div>
				</div>
			</div>
			<ul class="effected">
				<li><strong>causes effected:</strong> <%= @user.causes.collect{|cause_tag| cause_tag.name.titleize}.join(', ') %></li>
				<li><strong>skills sought:</strong>  <%= @user.skills.collect{|skill_tag| skill_tag.name.titleize}.join(', ') %></li>
			</ul>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">about</h2>
		</div><!--title-->
		<div class="about-info"><%= @user.about_me %></div>
		<div class="promo-buttons">
			<a href="#" class="btn">recruit!</a>
			<a href="#" class="facebook-like"><img src="/images/btn-facebook-like.gif" alt="" /></a>
			<span><a href="#">Jason Wisdom</a>, <a href="#">Alessandra Nicole</a>, and 32 other like this.</span>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>Suggested opportunities</h2>
			<a href="#" class="view orang-link">view all</a>
		</div><!--title-->
		<%= render :partial => 'events/event', :collection => @user.events%>
			
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<% content_for :sidebar do %>
	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title">
				<h3>pledges</h3>
				<%= link_to 'all', {:controller => :pledges, :action => :index}, :class => 'view'%>				
				<%= link_to 'take new', {:controller => :pledges, :action => :new}, :class => 'view'%>
			</div>
			<ul class="badges">
				<%= render :partial => 'badges/badge_small', :collection => @user.badges.find(:all, :limit => 9) %>
			</ul>
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->
	<%#= render :partial => 'events/event_box', :locals => {:events => @user.events_created, :section_title => 'Past Participation'}  %>
	
<% end %>
