<%
	skill_sets = [
		['Business', 
				['Leadership',
				'communication',
				'teamwork',
				'fundraising',
				'marketing',
				'event planning',
				'networking',
				'organization',
				'finance/budgeting',
				'speaking/presenting',
				'advertising',
				'volunteer management',
				'event planning']],
		['Technology', 
				['word pressessing',
				'data entry',
				'web development',
				'web design',
				'lighting',
				'technology upgrades',
				'database management']],
		['Arts', [
			'web design',
			'writing',
			'murals',
			'flyer design',
			'graphic design',
			'photography',
			'editor',
			'newsletter writing'
			]],
		['Food Service', [
			'Food Service',
			'Meal preperation',
			'Food Sorting',
			'catering',
			]],						
		['Indoor / Outdoor', [
			'clothes sorting',
			'outdoor cleanup',
			'painting',
			'gardening/planting',
			'indoor cleanup'
			]],
		['General', [
			'childcare',
			'security',
			'physical training',
			'research',
			'skilled labor',
			'Lifter/Loader/Mover',
			'Event Setup/Cleanup',
			'community outreach',
			'flyer distribution',
			'canvassing',
			'mailing',
			'filing',
			'mailing'
			]],				
		]
	cause_sets = [
		[
			'Animal Care / Protection',
		'Aging Populations',
		'Community Involvement',
		'Crime / Justice',
		'Disaster Relief'],
		[
			'Education / Literacy / Economic Literacy',
			'Energy',
			'Environmental Sustainability / Agriculture',
			'Health',
			'Homelessness',
			],
		[
			'Human Rights',
			'Hunger',
			'Individual Equality / Rights',
			'Job Creation',
			'Poverty'
			],
		[
			'Politics',
			'Religious Equality',
			'Social Entrepreneurship',
			'Sex and Slavery',
			'Youth Activities'
			]	
			
		]	
%>

<h1>Sign Up</h1>
<div id='content'>
<div id='left'> 

<div class='module'> 
    <div class='head'> 
        <h3>Step 2/2</h3> 
    </div> 
    <div class='body'>

<% form_for :user, :url => {:controller => :users, :action => :update_tags} do |f| %>

<h3> Skills </h3>
<table>
	<tr>
		<% for skill_set in skill_sets %>
		<th style="border:1px solid #666;margin:0;border-left:0;border-bottom:0;font-size:0.8em"> <%= skill_set.first %></th>
		<% end %>
	</tr>
	
	<tr>
		<% for skill_set in skill_sets %>
		<td valign="top" style="border:1px solid #666;margin:0;border-left:0;font-size:0.9em"> 
		<% for item in skill_set.last %>
			<%= check_box_tag 'skills[]', item %> <%= item %><br />
		<% end %>
		</td>
		<% end %>
	</tr>
</table>
<h3> Causes </h3>
<table>
	<tr>
	<% for cause_set in cause_sets %>
		<td valign="top" style="border:1px solid #666;margin:0;border-left:0;font-size:0.9em">
			<% for cause in cause_set %>
			<%= check_box_tag 'causes[]', cause %> <%= cause %><br />
			<% end %>
		</td>
	<% end %>
	</tr>
</table>
<input type="submit" value="Update">
<% end %>
	</div>
</div>