<h3 class='supertitle'><a href='/+projects/'>Projects</a></h3>
<h1><%= @title %></h1>
<div id='content'>
<div id='left'> 

<div class='module'> 
    <div class='head'> 
        <h3></h3> 
    </div> 
    <div class='body'>
<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>
<div id="map" style="width:100%;height:300px">
	
</div>
<script type="text/javascript">
    var latlng = new google.maps.LatLng(<%= @user.lat %>,<%= @user.lng %>);
    var myOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var latlng = new google.maps.LatLng(<%= @user.lat %>, <%= @user.lng %>);
	var marker = new google.maps.Marker({
	      position: latlng,
	      title:"<%= @user.name %>",
		  map: map
	  });

</script>

<h2> Recommended Events</h2>
<ul>
	<% for event in @recommended_events %>
		<li> <%= event.title %></li>
	<% end %>
</ul>
<p>
  <b>Lat:</b>
  <%=h @user.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @user.lng %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
    </div>
</div><!-- /.module #requests -->
<div class='module'> 
    <div class='head'> 
        <h3>Participating in </h3> 
    </div> 
    <div class='body'>
	<ul>
	<% for event in @user.events %>
		<li> <%= link_to event.title, event %></li>
	<% end %>
	</ul>
    </div>
</div><!-- /.module #requests -->