<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">Volunteer</h2>
		</div><!--title-->
		<div class="cart-info">
			<div class="holder">
				<div class="visual"><%= link_to(image_tag(facebook_profile_picture(@user, 'large')), @user) %></div>
 				<div class="cart-text"  style="width:440px">
					<h3><%= @user.name %></h3>
					<div class="dc"><%= @user.address %></div>
<!--
					<ul class="social">
						<li class="facebook"><a href="#">www.facebook.com/kofman.foundation</a></li>
						<li class="twitter"><a href="#">@ koufmanfoundation</a></li>
					</ul>
-->										<ul class="effected">
						<li><strong>causes effected:</strong> <%= @user.causes.collect{|cause_tag| cause_tag.name.titleize}.join(', ') %></li>
						<li><strong>skills sought:</strong>  <%= @user.skills.collect{|skill_tag| skill_tag.name.titleize}.join(', ') %></li>
					</ul>

					<div class="row"><strong class="even"><%= @user.points %> points</strong></div>
				</div>
			</div>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">about</h2>
		</div><!--title-->
		<div class="about-info"><%= @user.about_me %></div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>pledges</h2>
			<a href="#" class="view orang-link">view all</a>
		</div><!--title-->
		<% unless @user.pledges.empty? %>
		<ul>
			<% for pledge in @user.pledges %>
			<li>
			<div>
				<span><%= time_ago_in_words(pledge.created_at) %></span>
				<%= format_pledge(pledge) %>
			</div>	
			</li>
			<% end %>
		</ul>	
		<% else %>
		<p>
		Still has to take the pledges.	
		</p>	
		<% end %>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>Participating in opportunities</h2>
			<a href="#" class="view orang-link">view all</a>
		</div><!--title-->
		<% unless @user.events.empty? %>
		<%= render :partial => 'events/event', :collection => @user.events%>
		<% else %>
		<p> Is not participating in any upcoming events.</p>
		<% end %>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<% content_for :sidebar do %>
	<%= render :partial => 'events/event_box', :locals => {:events => @user.events_created, :section_title => 'Past Participation'}  %>
	
<% end %>
