<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>
<h2> Recommended Events</h2>
<ul>
	<% for event in @recommended_events %>
		<li> <%= event.title %></li>
	<% end %>
</ul>
<p>
  <b>Lat:</b>
  <%=h @user.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @user.lng %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>