<div style="border:1px solid #ddd">
	<%= image_tag event.image.url, :align=> 'left'%>
	<h3><%= event.title %></h3>
	<div><%= time_ago_in_words(event.from)%> | <%= event.address %> | <%= event.users.count %> Activists</div>
	<hr />
	<div>
	<% event.users.each do |participant| %>
		<%= image_tag participant.image.url(:thumb) %> 
	<% end %>
	</div>
	<div >
		<ul>
			<li><%= link_to 'Recruit', invite_to_event_path(event) %></li>
			<li><%= link_to 'Share', invite_to_event_path(event)%></li>
			<li><%= link_to 'Participate', participate_event_path(event) %></li>
		</ul>
	</div>	
</div>