<div class="post">
	<div class="visual"><%= image_tag event.image.url(:medium) %></div>
	<div class="text">
		<h3><%= link_to event.title, event %><span><%= event.organization %></span></h3>
		<ul class="cat">
			<li class="active"><a href="#">Today</a></li>
			<li><a href="#"><%= event.address %></a></li>
			<li><a href="#">3 Comments</a></li>
			<li><%= link_to 'View Details', event %></li>
		</ul><!--cat-->
		<div class="skils">
			<div class="row">
				<h4>causes: </h4>
				<span> <%= event.causes.join(', ') %> (<a href="#">See All</a>)</span>
			</div>
			<div class="row">
				<h4>skills needed: </h4>
				<span> <%= event.skills.join(', ') %> (<a href="#">See All</a>)</span>
			</div>
		</div><!--skils-->
		<ul class="photos">
			<li><img src="images/img02.jpg" alt="" width="79" height="75" /></li>
			<li><img src="images/img03.jpg" alt="" width="79" height="75" /></li>
			<li><img src="images/img04.jpg" alt="" width="79" height="75" /></li>
			<li><img src="images/img05.jpg" alt="" width="79" height="75" /></li>
			<li><a href="#" class="all">(see all...)</a></li>
		</ul><!--photos-->
		<ul class="buttons">
			<li><a href="#">recruit!</a></li>
			<li><a href="#">share!</a></li>
			<li><a href="#">participate!</a></li>
		</ul><!--buttons-->
	</div><!--text-->
</div><!--post-->
