<div class="post">
	<div class="visual"><%= link_to image_tag(event.image.url(:medium)), event %></div>
	<div class="text">
		<h3><%= link_to event.title, event %></h3>
		<ul class="cat">
			<li class="active"><a href="#"><%= 'Today' or time_ago_in_words(event.from_date)%></a></li>
			<li><a href="#"><%= event.address %></a></li>
			<li><a href="#"><%= event.comments.count %> Comments</a></li>
			<li><%= link_to 'View Details', event %></li>
			<% if logged_in? and current_user.is_admin? %>
			<li>
			<%= link_to (event.featured? ? 'Unfeature' : 'Feature'), feature_event_path(event)%></li>
			<li><%= link_to 'Close Event', complete_event_path(event)%></li>					
			<% end %>					
		</ul><!--cat-->
		<% if event.organization %>
		<div class="skils">
			<div class="row">
				
				<h4>organized by: </h4>
				<h5><%= link_to event.organization.name, event.organization %></h5>

			</div>
		</div><!--skils-->
		<% end %>
		<div class="skils">
			<div class="row">
				<h4>causes: </h4>
				<span><%= event.causes.collect{|cause| cause.name.titleize}.join(', ')%></span>
			</div>
			<div class="row">
				<h4>skills needed: </h4>
				<span> <%= event.skills.collect{|skill| skill.name.titleize}.join(', ')%></span>
			</div>
		</div><!--skils-->

		<ul class="photos">
			<% unless event.event_images.empty? %>
			<% for event_image in event.event_images.all(:limit => 5)%>
			<li><%= image_tag event_image.photo.url(:small_thumbnail) %></li>
			<% end %>
			<% else %>
			<li><%= image_tag event.image.url(:small_thumbnail)%></li>
			<% end %>
		</ul><!--photos-->
		<ul class="buttons">
			<% if logged_in? %>
			<% unless event.completed? %>
				<li><%= link_to 'recruit!',  invite_to_event_path(event), :class =>'lbOn' %></li>
				<li><%= link_to 'share!',  share_event_path(event), :class =>'lbOn' %></li>
				<% if logged_in? and current_user.participating?(event) %>
				<li><%= link_to 'deny!', participate_event_path(event) %></li>
				<% else %>
				<li><%= link_to 'participate!', participate_event_path(event) %></li>
				<%end%>
			<% else %>
				<% event_user = EventUser.first(:conditions => {:user_id => current_user, :event_id => event})
					if event_user
						%>
						<li><%= link_to 'Give Feedback', event_feedback_path(event_user), :class => 'lbOn'  %></li>
					<% end %>
			<% end %>
			<%else%>
				<li><%= link_to 'recruit!',  signup_for_action_path, :class=>'lbOn' %></li>
				<li><%= link_to 'share!',  signup_for_action_path, :class=> 'lbOn' %></li>
				<li><%= link_to 'participate!', signup_for_action_path, :class=> 'lbOn' %></li>
			<% end %>	
		</ul><!--buttons-->
	</div><!--text-->
</div><!--post-->
