<div class='module'> 
    <div class='head'> 
        <h3></h3> 
    </div> 
    <div class='body'>
<% form_for(@event, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
	<%= f.label :from %><br />
	<%= f.text_field :from %>
  </p>
  <p>
	<%= f.label :to %><br />
	<%= f.text_field :to %>
  </p>
  <script>
	var from_picker = new Control.DatePicker('event_from', {icon: '/images/calendar.png', timePicker:true, timePickerAdjacent: true, dateTimeFormat: 'yyyy-MM-dd HH:mm'});
	var to_picker = new Control.DatePicker('event_to', {icon: '/images/calendar.png', timePicker:true, timePickerAdjacent: true, dateTimeFormat: 'yyyy-MM-dd HH:mm'});
  </script>
  <p>
	<%= f.label :image, "Photo" %>
	<%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :skills %><br />
    <%= f.text_field :skill_list %>
  </p>
  <p>
    <%= f.label :causes %><br />
    <%= f.text_field :cause_list %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
    </div>
</div><!-- /.module #requests -->