<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2><%= @title %></h2>
		<%= link_to 'view all', events_path, :class => "view" %>
	</div><!--title-->
	<%= will_paginate(@events)%>	
	<%= render :partial => 'event', :collection => @events %>
	<%= will_paginate(@events)%>
</div>
<div class="b">&nbsp;</div>					
<% content_for :sidebar do %>
	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title">
				<h3>contests</h3>

			</div>
			<ul class="badges">

			</ul>
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->
	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title cutd">
				<h3>recent signups</h3>
			</div>
			<ul class="users">
				<%= render :partial => 'users/user_small', :collection => @users %>
			</ul>
			<div class="all"><a href="#">view all </a></div>
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->
<% end %>