
<h1><%= @title %></h1>
<div id='content'>
<div id='left'> 

<div class='module'> 
    <div class='head'> 
        <h3></h3> 
    </div> 
    <div class='body'>

<% @events.each do |event| %>
	<div>
    <h2><%=link_to event.title, event %></h2>
	<p> <%= h event.organization %> </p>
    <p><%=h event.description %></p>
    <p><%=h event.address %></p>
	</div>
<% end %>

<br />


    </div>
</div><!-- /.module #requests -->
