<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2>New Event</h2>
	</div><!--title-->
	<div class="search-form">
	<% form_for(@event, :url => {:action => :match}, :html => {:multipart => true, :class=> "new-form"}) do |f| %>
	  <%= f.error_messages %>

		<% @event.organization_id = params[:organization_id] %>

	  <div class="row">
	    <%= f.label :title %>
		<span class="text">
	    <%= f.text_field :title %>
		</span>
	  </div>
	  <div class="row">
		<%= f.label :oranization %> 
		<%= f.select :organization_id, Organization.all.collect{|organization| [organization.name, organization.id]}, {:include_blank => 'None'}%>
	  </div>
	  <div class="row">
		<%= f.label :ongoing, 'Ongoing' %>
		<%= f.check_box :ongoing %>
	  </div>
	  <div class="row">
		<%= f.label :from_date, 'From' %>
		<span class="text"><%= f.text_field :from_date %></span>
	  </div>
	  <div class="row">
		<%= f.label :to %>
		<span class="text"><%= f.text_field :to %></span>
	  </div>
	  <script>
		/*
		var from_picker = new Control.DatePicker('event_from', {icon: '/images/calendar.png', timePicker:true, timePickerAdjacent: true, dateTimeFormat: 'yyyy-MM-dd HH:mm'});
		var to_picker = new Control.DatePicker('event_to', {icon: '/images/calendar.png', timePicker:true, timePickerAdjacent: true, dateTimeFormat: 'yyyy-MM-dd HH:mm'});
		*/
	  </script>

	  <div class="row">
	    <%= f.label :description %>
	    <%= f.text_area :description, :rows => 4, :cols => 25 %>
	  </div>
	  <div class="row">
	    <%= f.label :address %>
	    <span class="text"><%= f.text_field :address %></span>
	  </p>
	
	  <div class="row">
		<%= f.label :image, "Photo" %>
		<%= f.file_field :image %>
	  </div>
	  <div>
	    <%= f.label :skills %><br />
		<%#= render :partial => 'common/tag_checkboxes', :locals => {:items => default_skills, :item_name => 'skills', :object_items => @event.skills.collect{|skill| skill.name}}%>
		<%= render :partial => 'users/skill_select', :locals => {:checked => @event.skills.collect{|skill| skill.name} }%>

		Others(comma separated) <br />
		<%= text_field_tag 'other_skills' %>

	  </div>
	  <div>
	    <%= f.label :causes %><br />
		<%#= render :partial => 'common/tag_checkboxes', :locals => {:items => default_causes, :item_name => 'causes', :object_items => @event.causes.collect{|cause| cause.name}}%>
		<%= render :partial => 'users/cause_select', :locals => {:checked => @event.causes.collect{|skill| skill.name} }%>

		Others(comma separated) <br />
		<%= text_field_tag 'other_causes' %>

	  </div>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
	</div>
</div>
<div class="b">&nbsp;</div>
</div>
<% content_for :sidebar do %>
<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title cutd">
			<h3>New Event Tips</h3>
		</div>
		<ul>
			<li>choose to select proper location</li>
			<li>choose to select proper causes</li>			
			<li>choose to select proper skills</li>			
		</ul>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<% end %>
