
<h1><%= @title %></h1>
<div id='content'>
<div id='left'> 


<div class='module'> 
    <div class='head'> 
        <h3></h3> 
    </div> 
    <div class='body'>
<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>
<% if @event.ongoing? %>
	<b> Type: </b>
	<p> Ongoing</p>
<% else %>
	<b> Start Date: </b>
	<p> <%= @event.from_date %></p>
	<b> End Date: </b>
	<p> <%= @event.to %></p>
<% end %>
<p>
	<b> Organization: </b>
	<%= link_to @event.organization, @event.organization %>
</p>
<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Address:</b>
  <%=h @event.address %>
</p>
<p>
  <b>Causes:</b>
  <%=h @event.causes %>
</p>
<p>
  <b>Skills:</b>
  <%=h @event.skills %>
</p>

<div id="map" style="width:100%;height:300px">
	
</div>
<script type="text/javascript">
    var latlng = new google.maps.LatLng(<%= @event.lat %>, <%= @event.lng %>);
    var myOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var latlng = new google.maps.LatLng(<%= @event.lat %>, <%= @event.lng %>);
	var marker = new google.maps.Marker({
	      position: latlng,
	      title:"Hello World!",
		  map: map
	  });

</script>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% if logged_in? and !current_user.participating?(@event) %>| <%= link_to 'Participate', participate_event_path(@event), :method => :post %>	<% end %>	
<% if logged_in? and current_user.is_admin? and !@event.featured? %>| <%= link_to 'Feature', feature_event_path(@event), :method => :post %>	<% end %>	
    </div>
</div><!-- /.module #requests -->
<h3>Comments </h3>
<div id="comments_container">
   <%= render_threaded_comments(@event.comments) -%>
   <%= render_comment_form(@new_comment) -%>
 </div>
<div class='module'> 
    <div class='head'> 
        <h3>Participants</h3> 
    </div> 
    <div class='body'>
		<ul>
		<% for user in @event.users %>
			<li> <%= user.name %></li>
		<% end %>
		</ul>
	</div>
</div>	
<div class='module'> 
    <div class='head'> 
        <h3>Related Events</h3> 
    </div> 
    <div class='body'>
	<% if @event.related_events.blank? %>
		<p> No related Events</p>
	<% else %>
		<ul>
		<% for event in @event.related_events %>
			<li> <%= event.title %><br />
				<%= event.address %>
			</li>
		<% end %>
		</ul>
	<% end %>	
	</div>
</div>	

<div class='module'> 
    <div class='head'> 
        <h3>Invites</h3> 
    </div> 
    <div class='body'>
		<p> 
			<%= link_to 'Invite', invite_to_event_path(@event) %> interested people and earn points.
		</p>
	</div>
</div><!-- /.module #invites -->