<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>participation</h2>
			<a href="#" class="view">view all</a>
		</div><!--title-->
		<%= render :partial => 'event', :object => @event %>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">about</h2>
		</div><!--title-->
		<div class="about-info"><p><%= @event.description %></p></div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<% if @event.closed? %>
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">feedback</h2>
		</div><!--title-->
		<div class="about-info">
			<% for event_user in @event.event_users.all(:limit => 5, :conditions => "attended is not null")%>
				<%= render :partial => 'event_users/event_user', :object => event_user %>
			<% end %>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<% end %>
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">discussion</h2>
			<%= link_to 'All', event_comments_path(@event), :class => "view" %> 
		</div><!--title-->
		<div id="comments_container">
		   <%= render_threaded_comments(@event.comments.all(:limit => 10)) -%>
		<% if logged_in? %>
		   <%= render_comment_form(@new_comment)  -%>
		<% end %>
		 </div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">activities</h2>
			<%= link_to 'All', event_activities_path(@event), :class => "view" %> 						
		</div><!--title-->
		<div class="about-info">
			<ul>
				<%= render :partial => 'common/activity', :collection => @event.activities%>
			</ul>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">photos</h2>
			<%= link_to 'All', event_photos_path(@event), :class => "view" %> 			
		</div><!--title-->
		<div class="about-info">
			<ul>
				<% for event_image in @event.event_images.all(:limit => 5) %>
				<li><%= image_tag event_image.photo.url(:small)%></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	


<% content_for :sidebar do %>
	<% if current_user.is_admin? or current_user.editor?(@event)%>
	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<ul class="buttons" >
				<li style="padding-left:5em"><%= link_to 'edit event', edit_event_path(@event) %></li>
				<br />
				<li style="padding-left:5em"><%= link_to 'delete event', :controller => :events, :action => :destroy, :id => @event %></li>				
			</ul><!--buttons-->
		</div>	
		<div class="b">&nbsp;</div>
	</div><!--box-->
	<% end %>
	<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>Contests</h3>
		</div>
		<div class="promo-visual"><a href="/contest.html"><img width="251" alt="" src="http://2.bp.blogspot.com/_mhHzlHCfJ2M/TCILtAh9uXI/AAAAAAAABqU/0jmKpIox_U8/s1600/ups-logo.jpg"></a></div>
	</div>
	<div class="b">&nbsp;</div>
	</div>
	
	<%= render :partial => 'participant_box', :locals => {:users => @event.users.all(:limit => 9)} %>
	<%= render :partial => 'event_box', :locals => {:events => @event.related_events}  %>
	<% if logged_in? and current_user.is_admin? %>
	<%= render :partial => 'common/editors_box'%>	
	<% end %>
<% end %>
<!--

<% if logged_in? and !current_user.participating?(@event) %>| <%= link_to 'Participate', participate_event_path(@event), :method => :post %>	<% end %>	
<% if logged_in? and current_user.is_admin? and !@event.featured? %>| <%= link_to 'Feature', feature_event_path(@event), :method => :post %>	<% end %>	
    </div>
</div>
<h3>Comments </h3>
<div id="comments_container">
 </div>
<div class='module'> 
    <div class='head'> 
        <h3>Participants</h3> 
    </div> 
    <div class='body'>
		<ul>
		<% for user in @event.users %>
			<li> <%= user.name %></li>
		<% end %>
		</ul>
	</div>
</div>	
<div class='module'> 
    <div class='head'> 
        <h3>Related Events</h3> 
    </div> 
    <div class='body'>
	<% if @event.related_events.blank? %>
		<p> No related Events</p>
	<% else %>
		<ul>
		<% for event in @event.related_events %>
			<li> <%= event.title %><br />
				<%= event.address %>
			</li>
		<% end %>
		</ul>
	<% end %>	
	</div>
</div>	

<div class='module'> 
    <div class='head'> 
        <h3>Invites</h3> 
    </div> 
    <div class='body'>
		<p> 
			<%= link_to 'Invite', invite_to_event_path(@event) %> interested people and earn points.
		</p>
	</div>
</div>
-->
<!-- /.module #invites -->