<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>participation</h2>
			<a href="#" class="view">view all</a>
		</div><!--title-->
		<div class="post">
			<div class="visual"><img src="images/img01.jpg" alt="" /></div>
			<div class="text">
				<h3><%= @event.title %></h3>
				<ul class="cat">
					<li class="active"><a href="#"><%= 'Today' or time_ago_in_words(@event.from_date)%></a></li>
					<li><a href="#"><%= @event.address %></a></li>
					<li><a href="#"><%= @event.comments.count %> Comments</a></li>
					<li><a href="#">View Details</a></li>
					<% if logged_in? and current_user.is_admin? %>
					<li>
					<%= link_to (@event.featured? ? 'Unfeature' : 'Feature'), feature_event_path(@event)%></li>
					<li><%= link_to 'Complete', complete_event_path(@event)%></li>					
					<% end %>					
				</ul><!--cat-->
				<div class="skils">
					<div class="row">
						<h4>causes: </h4>
						<span><%= @event.causes.collect{|cause| cause.name.titleize}.join(', ')%></span>
					</div>
					<div class="row">
						<h4>skills needed: </h4>
						<span> <%= @event.skills.collect{|skill| skill.name.titleize}.join(', ')%></span>
					</div>
				</div><!--skils-->
				<ul class="photos">
					<li><img src="images/img02.jpg" alt="" /></li>
					<li><img src="images/img03.jpg" alt="" /></li>
					<li><img src="images/img04.jpg" alt="" /></li>
					<li><img src="images/img05.jpg" alt="" /></li>
					<li><img src="images/img27.jpg" alt="" /></li>
				</ul><!--photos-->
				<ul class="buttons">
					<% unless @event.completed? %>
					<li><%= link_to 'recruit!',  invite_to_event_path(@event) %></li>
					<li><%= link_to 'share!',  invite_to_event_path(@event) %></li>
					<li><%= link_to 'participate!', participate_event_path(@event) %></li>
					<% else %>
					<li><%= link_to 'Give Feedback',  event_feedback_path(@event) %></li>
					<% end %>
				</ul><!--buttons-->
				<div class="invite">
					<div class="plus-box">+1</div>
					<div class="text-info">
						<p>Jordan Sent 5 Invitations to First Philly Project</p>
						<p><a href="#">2 Friends Accepted!</a></p>
					</div>
					<div class="widget"><a href="#"><img src="images/btn-facebook-like.gif" alt="" /></a><span>28K</span></div>
				</div><!--invite-->
			</div><!--text-->
		</div><!--post-->
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">about</h2>
		</div><!--title-->
		<div class="about-info"><p><%= @event.description %></p></div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">discussion</h2>
		</div><!--title-->
		<div id="comments_container">
		   <%= render_threaded_comments(@event.comments) -%>
		<% if logged_in? %>
		   <%= render_comment_form(@new_comment)  -%>
		<% end %>
		 </div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<% content_for :sidebar do %>
	<%= render :partial => 'participant_box', :locals => {:users => @event.users.all(:limit => 9)} %>
	<%= render :partial => 'event_box', :locals => {:events => @event.related_events}  %>
<% end %>
<!--

<% if logged_in? and !current_user.participating?(@event) %>| <%= link_to 'Participate', participate_event_path(@event), :method => :post %>	<% end %>	
<% if logged_in? and current_user.is_admin? and !@event.featured? %>| <%= link_to 'Feature', feature_event_path(@event), :method => :post %>	<% end %>	
    </div>
</div>
<h3>Comments </h3>
<div id="comments_container">
 </div>
<div class='module'> 
    <div class='head'> 
        <h3>Participants</h3> 
    </div> 
    <div class='body'>
		<ul>
		<% for user in @event.users %>
			<li> <%= user.name %></li>
		<% end %>
		</ul>
	</div>
</div>	
<div class='module'> 
    <div class='head'> 
        <h3>Related Events</h3> 
    </div> 
    <div class='body'>
	<% if @event.related_events.blank? %>
		<p> No related Events</p>
	<% else %>
		<ul>
		<% for event in @event.related_events %>
			<li> <%= event.title %><br />
				<%= event.address %>
			</li>
		<% end %>
		</ul>
	<% end %>	
	</div>
</div>	

<div class='module'> 
    <div class='head'> 
        <h3>Invites</h3> 
    </div> 
    <div class='body'>
		<p> 
			<%= link_to 'Invite', invite_to_event_path(@event) %> interested people and earn points.
		</p>
	</div>
</div>
-->
<!-- /.module #invites -->