<div class="main-block">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="user-info">
			<h2><%= @page.title %></h2>
			<%= @page.content %>
		</div>
	</div>
	<div class="b">&nbsp;</div>
</div>


<h1><%= @title %></h1>
<div id='content'>
	<div id='left'> 

		<div class='module'> 
    		<div class='head'> 
        		<h3><%= @page.title %></h3> 
    		</div> 
    		<div class='body'>
				<%= @page.content %>
			</div>
		</div>
	</div>
</div>