
		<div class="cart-info">
			<div class="holder">
				<div class="visual"><img src="images/img32.jpg" alt="" /></div>
				<div class="cart-text">
					<h3><%= link_to organization.name, organization %></h3>
					<div class="dc"><%= organization.address %></div>
					<ul class="social">
						<li class="facebook"><a href="#">www.facebook.com/kofman.foundation</a></li>
						<li class="twitter"><a href="#">@ koufmanfoundation</a></li>
					</ul>
					<div class="row"><strong class="even"><%= organization.events.count %> events</strong><a href="#" class="suggest-btn">suggest a skill</a></div>
				</div>
			</div>
			<ul class="effected">
				<li><strong>causes effected:</strong> <%= organization.causes.collect{|cause_tag| cause_tag.name.titleize}.join(', ') %></li>
				<li><strong>skills sought:</strong>   <%= organization.skills.collect{|skill_tag| skill_tag.name.titleize}.join(', ') %></li>
			</ul>
		</div>