<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2>Edit Organization</h2>
	</div><!--title-->
	<div class="search-form">
	<% form_for(@organization, :html => {:multipart => true}) do |f| %>
  	<%= f.error_messages %>

  	<p>
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
  	</p>
  	<p>
    	<%= f.label :description %><br />
    	<%= f.text_area :description %>
  	</p>
  <p>
    <%= f.label :skills %><br />
	<%#= render :partial => 'common/tag_checkboxes', :locals => {:items => default_skills, :item_name => 'skills', :object_items => @event.skills.collect{|skill| skill.name}}%>
	<%= render :partial => 'users/skill_select', :locals => {:checked => @organization.skills.collect{|skill| skill.name} }%>

	Others(comma separated) <br />
	<%= text_field_tag 'other_skills' %>

  </p>
  <p>
    <%= f.label :causes %><br />
	<%#= render :partial => 'common/tag_checkboxes', :locals => {:items => default_causes, :item_name => 'causes', :object_items => @event.causes.collect{|cause| cause.name}}%>
	<%= render :partial => 'users/cause_select', :locals => {:checked => @organization.causes.collect{|skill| skill.name} }%>

	Others(comma separated) <br />
	<%= text_field_tag 'other_causes' %>

  </p>
  	<p>
		<%= f.label :image, "Photo" %>
		<%= f.file_field :image %>
  	</p>
  	<p>
    	<%= f.submit 'Update' %>
  	</p>
	<% end %>

	<%= link_to 'Show', @organization %> |
	<%= link_to 'Back', organizations_path %>
	</div>
	<div class="b">&nbsp;</div>
</div>
<% content_for :sidebar do %>
<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title cutd">
			<h3>New NGO Tips</h3>
		</div>
		<ul>
			<li>choose to select proper location</li>
			<li>choose to select proper causes</li>			
			<li>choose to select proper skills</li>			
		</ul>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<% end %>
