<h3 class='supertitle'><a href='/+projects/'>Projects</a></h3>
<h1><%= @title %></h1>
<div id='content'>
<div id='left'> 

<% @title = 'Edit Organization' %>

<div class='module'> 
    <div class='head'> 
        <h3></h3> 
    </div> 
    <div class='body'>
	<% form_for(@organization, :html => {:multipart => true}) do |f| %>
  	<%= f.error_messages %>

  	<p>
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
  	</p>
  	<p>
    	<%= f.label :description %><br />
    	<%= f.text_area :description %>
  	</p>
  	<p>
    	<%= f.label :causes %><br />
    	<%= f.text_field :cause_list %>
  	</p>
  	<p>
    	<%= f.label :skill_list, "Skills Required" %><br />
    	<%= f.text_field :skill_list %>
  	</p>
  	<p>
		<%= f.label :image, "Photo" %>
		<%= f.file_field :image %>
  	</p>
  	<p>
    	<%= f.submit 'Update' %>
  	</p>
	<% end %>

	<%= link_to 'Show', @organization %> |
	<%= link_to 'Back', organizations_path %>
	</div>
</div>