<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2><%= @title %></h2>
		<%= link_to 'recent', organizations_path, :class => "view" %> 
		<%= link_to 'suggested', suggested_organizations_path, :class => "view" %> 				
		<%= link_to 'view all', organizations_path, :class => "view" %>
	</div><!--title-->
	<%= will_paginate(@organizations) rescue nil%>
	<div class="content-box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<%= render :partial => 'organization', :collection => @organizations %>
		</div>
		<div class="b">&nbsp;</div>		
	</div><!--content-box-->
	<%= will_paginate(@organizations) rescue nil %>	
</div>
<div class="b">&nbsp;</div>

<% content_for :sidebar do %>
<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>Notes</h3>
		</div>
		<p>
			Organizations are suggested to you based upon your location, skills and causes that you feel about.
		</p>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<!--
<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>search</h3>								
		</div>
		<div class="search-form">
			<form action="">
				<fieldset>
					<div class="row">
						<label for="lb01">name</label><span class="text"><input type="text" id="lb01"/></span>
					</div>
					<div class="row">
						<label for="lb02">location</label><span class="text"><input type="text" id="lb02"/></span>
					</div>
					<div class="row">
						<label for="lb03">skills</label><span class="text"><input type="text" id="lb03"/></span>
					</div>
					<div class="row causes">
						<label for="lb04">causes of interest</label><span class="text"><input type="text" id="lb04"/></span>
					</div>
					<div class="row">
						<label for="lb05">points</label><span class="text"><input type="text" id="lb05"/></span>
					</div>
					<div class="row">
						<label for="lb06">age</label><span class="text"><input type="text" id="lb06"/></span>
					</div>
					<div class="row">
						<label for="lb07">sex</label><span class="text"><input type="text" id="lb07"/></span>
					</div>
					<div class="button-holder">
						<input type="submit" value="search"/>
					</div>
				</fieldset>
			</form>
		</div><!--search-form
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<% end %>
