
<h1><%= @title %></h1>
<div id='content'>
<div id='left'> 

<div class='module'> 
    <div class='head'> 
        <h3></h3> 
    </div> 
    <div class='body'>
		<form>
			<ul>
				<li>
					Search For<br />
					<%= text_field_tag 'search', '' %>
				</li>
			</ul>
			<br />
			<%= submit_tag 'Search' %>
		</form>
		<% @organizations.each do |organization| %>
		<div> 
			<h2><%=link_to organization.name, organization %></h2>
			<p> <%= organization.cause_list %></p>
		</div>
		<% end %>
		<%= link_to 'New organization', new_organization_path %>
	</div>
</div>	