<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue"><%= @organization.name %></h2>
		</div><!--title-->
		<div class="cart-info">
			<div class="holder">
				<div class="visual"><%= link_to image_tag(@organization.image.url(:medium), :width => 185), @organization %></div>
				<div class="cart-text">
					<!--

					<h3><%= @organization.name %></h3>
					<div class="dc"><%= @organization.address %></div>
					<ul class="social">
						<li class="facebook"><a href="#">www.facebook.com/kofman.foundation</a></li>
						<li class="twitter"><a href="#">@ koufmanfoundation</a></li>
					</ul> -->
					<ul class="effected">
						<li><strong>causes effected:</strong> <%= @organization.causes.collect{|cause_tag| cause_tag.name.titleize}.join(', ') %></li>
						<li><strong>skills sought:</strong>   <%= @organization.skills.collect{|skill_tag| skill_tag.name.titleize}.join(', ') %></li>
					</ul>
					
					<div class="row"><strong class="even"><%= @organization.events.count %> events</strong><% if logged_in? %><% unless current_user.helping?(@organization)%><%= link_to 'Support', help_organization_path(@organization), :class=> 'suggest-btn'%><% end %><% else %><%= link_to 'support',  signup_for_action_path, :class=>'lbOn suggest-btn' %><% end %></div>
				</div>
			</div>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">about</h2>
		</div><!--title-->
		<div class="about-info">
		<% if @organization.iMatter? %>
			<div style="text-align:center">
				<object width="480" height="385" align="center"><param name="movie" value="http://www.youtube.com/v/S1ffgR1BxaE?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/S1ffgR1BxaE?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
			</div>	
		<% end %>
		<p><%= @organization.description %></p></div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>opportunities</h2>
			<a href="#" class="view orang-link">view all</a>
		</div><!--title-->
		<% if @organization.events.blank? %>
			<%= render :partial => 'events/event', :collection => @organization.events %>
		<% else %>
			<p> No associated opportunities </p>
		<% end %>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->

<% content_for :sidebar do %>
<div class="box">
<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h3>Contests</h3>
	</div>
	<div id="carousel-wrapper">
	    <div id="carousel-content">
	        <div class="slide"> </div>
	        <div class="slide"><a href="/contest.html"><img width="151" alt="" src="http://www.pc.ibm.com/ca/nba/images/nba_cares_140x187.jpg"></a></div>
	        <div class="slide"><a href="/contest.html"><img width="151" alt="" src="http://t2.gstatic.com/images?q=tbn:ANd9GcSB5tp3OKrnqAQLFlXMv2THs014ckGW-RNBWaH3oTXaEyLg_sQ&t=1&usg=__34jrsX8GkxmDopuo63hLk3qDYTY="></a></div>
	        <div class="slide"><a href="/contest.html"><img width="151" alt="" src="http://t0.gstatic.com/images?q=tbn:ANd9GcSm6k1g9Krc97nqyJYSF6yBh-DIa8ytuTO2JiHqymI6UGrrA-U&t=1&usg=___h9Tsh6TjLD6LSU4Cgz6X56pmcU="></a></div>	
	
	    </div>
	</div>
	<script type="text/javascript">
	new Carousel('carousel-wrapper', $$('#carousel-content .slide'), $$('a.carousel-control', 'a.carousel-jumper'), {circular:true, auto:true, frequency:5, duration:1});
	</script>
</div>
<div class="b">&nbsp;</div>
</div>

<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>big volunteers</h3>
		</div>
		<ul class="badges">
			<%= render :partial => 'users/user_shot', :collection => @organization.users %>
		</ul>
	</div>
	<div class="b">&nbsp;</div>
	</div><!--box-->

	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title cutd">
				<h3>leaderboard</h3>
			</div>
			<ul class="users activity">
				<%= render :partial => 'users/user_small', :collection => User.all(:limit => 5, :order => 'points DESC') %>
			</ul>
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->
	<% if logged_in? and current_user.is_admin? %>
	<%= render :partial => 'common/editors_box'%>
	<% end %>
<% end %>