
<h1><%= @title %></h1>
<div id='content'>
<div id='left'> 

<div class='module'> 
    <div class='head'> 
        <h3>About</h3> 
    </div> 
    <div class='body'>
		<p>
  			<%=h @organization.description %>
		</p>


		<%= link_to 'Edit', edit_organization_path(@organization) %> |
		<%= link_to 'Back', organizations_path %> 
		<% if logged_in? and !current_user.helping?(@organization) %>| <%= link_to 'Help', help_organization_path(@organization), :method => :post %>	<% end %>	
	</div>
</div>
<div class="module">
	<div class="head">
		<h3> Events </h3>
	</div>
	
	<div class="body">
		<%= link_to 'New', new_organization_event_path(@organization)%>
		<ul>
			<%= render :partial => 'events/summary', :collection => @organization.events %>
		</ul>
	</div>
</div>
<div class="module">
	<div class="head">
		<h3>Recent Events </h3>
	</div>
	
	<div class="body">
		<ul>
			<%= render :partial => 'events/summary', :collection => @recent_events %>
		</ul>
	</div>
</div>
<div class="module">
	<div class="head">
		<h3>Upcoming Events </h3>
	</div>
	
	<div class="body">
		<ul>
			<%= render :partial => 'events/summary', :collection => @upcoming_events %>
		</ul>
	</div>
</div>
<div class="module">
	<div class="head">
		<h3> Volunteers Helping </h3>
	</div>
	
	<div class="body">
		<ul>
			<%= render :partial => 'users/user_small', :collection => @organization.users %>
		</ul>
	</div>
</div>