<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">non profit</h2>
		</div><!--title-->
		<div class="cart-info">
			<div class="holder">
				<div class="visual"><%= image_tag @organization.image.url(:small)%></div>
				<div class="cart-text">
					<h3><%= @organization.name %></h3>
					<div class="dc"><%= @organization.address %></div>
					<!--
					<ul class="social">
						<li class="facebook"><a href="#">www.facebook.com/kofman.foundation</a></li>
						<li class="twitter"><a href="#">@ koufmanfoundation</a></li>
					</ul> -->
					<ul class="effected">
						<li><strong>causes effected:</strong> <%= @organization.causes.collect{|cause_tag| cause_tag.name.titleize}.join(', ') %></li>
						<li><strong>skills sought:</strong>   <%= @organization.skills.collect{|skill_tag| skill_tag.name.titleize}.join(', ') %></li>
					</ul>
					
					<div class="row"><strong class="even"><%= @organization.events.count %> events</strong><% unless logged_in? and current_user.helping?(@organization)%><%= link_to 'Help', help_organization_path(@organization), :class=> 'suggest-btn'%><% end %></div>
				</div>
			</div>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue">about</h2>
		</div><!--title-->
		<div class="about-info"><p><%= @organization.description %></p></div>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->	
<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2>opportunities</h2>
			<a href="#" class="view orang-link">view all</a>
		</div><!--title-->
		<%= render :partial => 'events/event', :collection => @organization.events %>
	</div>
	<div class="b">&nbsp;</div>		
</div><!--content-box-->

<% content_for :sidebar do %>
<div class="box">
<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h3>Contests</h3>
	</div>
	<div class="promo-visual"><a href="/contest.html"><img width="251" alt="" src="http://2.bp.blogspot.com/_mhHzlHCfJ2M/TCILtAh9uXI/AAAAAAAABqU/0jmKpIox_U8/s1600/ups-logo.jpg"></a></div>
</div>
<div class="b">&nbsp;</div>
</div>

<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>big volunteers</h3>
		</div>
		<ul class="badges">
			<%= render :partial => 'users/user_shot', :collection => @organization.users %>
		</ul>
	</div>
	<div class="b">&nbsp;</div>
	</div><!--box-->

	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title cutd">
				<h3>past opportunities</h3>
			</div>
			<ul class="users activity">
				<%= render :partial => 'events/event_card', :collection => @organization.events %>
			</ul>
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->
	<%= render :partial => 'common/editors_box'%>
<% end %>