<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2>Prizes</h2>
	</div><!--title-->
	<%= will_paginate(@prizes) rescue nil%>
	<div class="content-box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<%= render :partial => 'prize', :collection => @prizes %>
		</div>
		<div class="b">&nbsp;</div>		
	</div><!--content-box-->
	<%= will_paginate(@prizes) rescue nil %>	
</div>
<div class="b">&nbsp;</div>

<h1>Listing prizes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @prizes.each do |prize| %>
  <tr>
    <td><%=h prize.title %></td>
    <td><%=h prize.description %></td>
    <td><%= link_to 'Show', prize %></td>
    <td><%= link_to 'Edit', edit_prize_path(prize) %></td>
    <td><%= link_to 'Destroy', prize, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prize', new_prize_path %>