<%= render :partial => 'layouts/header' -%>
<div id="main" class="profile-page">
	<div class="main-block">
		<div class="c" style="padding: 0 4px; width:960px">
			<img src="/images/chegg.png" width="960"/>
		</div>
	</div><!--main-block-->
	<% if not logged_in? or (logged_in? and !@contest.has_participant?(current_user))%>
	<div class="main-block">
		<div class="t">&nbsp;</div>
		<div class="c">
			

			<div>
				<% for user in @contest.users.all(:limit => 10)%>
				<span>
					<img style="padding: 0.1em; border: 2px solid rgb(102, 102, 102); margin:0.2em 1em 0.2em 0" src="<%= facebook_profile_picture(user)%>" />
				</span>				
				<% end %>
				<span class="buttons-box">
				<% unless logged_in? %>
				<%= link_to 'enter contest',  signup_for_action_path, :class=>'lbOn sign-up' %>
				<% else %>
				<%= link_to 'Enter Contest', enter_contest_path(@contest), :class => 'sign-up lbOn'%>
				<% end %>
				</span>
			</div>

		</div>
		<div class="b">&nbsp;</div>
	</div><!--main-block-->
	<% end %>
			<div class="nav-holder" style="float:none;margin:0">
			<ul id="nav">
				<li>  <%= link_to 'non-profits', contest_path(@contest) %></li>
				<li>  <%= link_to 'leaderboard', contest_path(@contest, :ctab=> 'user') %></li>
				<li> <%= link_to 'activity', contest_path(@contest, :ctab => 'activity') %></li>				
			</ul>	
			</div>

	
<div id="two-columns">
	<div id="content">
	<%= yield %>
	</div>
	<div id="sidebar">
		<%= yield(:sidebar) %>
	</div>	
</div>	
<%= render :partial => 'layouts/footer' -%>


